name: CI Contributor Merger

on:
  pull_request:
    types: [closed]
    branches: [main]
    paths:
      - "contributors/*"

concurrency:
  group: ${{ github.ref }}-ci-merger
  cancel-in-progress: true

jobs:
  merger:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.FA_TOKEN }}
    if: ${{ github.event.pull_request.merged == true }}
    permissions: write-all
    steps:
      - uses: actions/checkout@v4

      - name: Get changed files
        id: files
        run: |
          echo "CHANGED_FILES=$(gh pr view ${{ github.event.pull_request.number }} --json files --jq '[.files[].status]')" >> $GITHUB_ENV

      - name: Post merge comment
        run: |
          if echo "$CHANGED_FILES" | grep -q '"removed"'; then
          echo "Good bye!"
          else
          for file in $files; do
            value=$(jq -r '.display_float_text // empty' $file)
            if [ -z "$value" ]; then
              echo '@${{ github.event.pull_request.user.login }}' >> util/names/@${{ github.event.pull_request.user.login }}
            else
              echo '$value' >> util/names/@${{ github.event.pull_request.user.login }}
              echo "display_float_text: $value"
            fi
          done
          git config --global user.name "STICKnoLOGIC[automation]"
          git config --global user.email "65322242+STICKnoLOGIC@users.noreply.github.com"
          git add .
          git commit -m "Add @${{ github.event.pull_request.user.login }} as contributor"
          git push
          fi


